.menu-right-list-login {
    text-align: center;
}

.menu-right-list-login button {
    font-size: 18px;
    padding: 0 30px;
}

.paragraph-top {
    margin-bottom: 0px;
}

.paragraph-bottom {
    margin-top: 0px;
}

.menu-right-list-login {
    margin-left: 0px;
}