table {
    background-color: #abb1ba;
    margin: auto;
}

#result {
    width: 416px;
    height: 70px;
}

.btn {
    width: 80px;
    height: 80px;
}

#equ {
    width: 80px;
    height: 164px;
}

#zero {
    width: 164px;
    height: 80px;
}